<section class="section-intro">
	<div class="section-intro-mobile-bg">
		<%- // partial('partial/navbar', {className: 'transparent'}) %>
		<%- partial('partial/navbar') %>
		<div class="jumbotron jumbotron-fluid jumbotron-blueberry">
			<div class="container">
				<div class="row">
					<div class="col-12 col-lg-6">
						<h1 class="display-4 pr-3"><%- site.data.jumbotron.heading || "" %></h1>
					</div>
				</div>
				<div class="row">
					<div class="col col-md-8 col-lg-6 col-xl-5 mb-3">
						<p class="front-paragraph mt-4"><%- site.data.jumbotron.subhead || "" %></p>
					</div>
				</div>
				<div class="row pb-4 pb-lg-0 pb-xl-4">
					<div class="col">
							<a href="<%- site.data.jumbotron.button.href || "" %></a>" class="my-2 btn btn-lg btn-primary rounded-pill mr-2">
								<%- site.data.jumbotron.button.text || "" %>
							</a>
							<br class="d-inline d-md-none"/>
							<span class="ml-2 front-paragraph"><%- site.data.jumbotron.details || "" %></span>
						</div>
					</div>
				</div>
			</div>
			<img class="w-100 d-lg-none" alt="jumbotron section shape" src="<%- partial('data-uri/wave-header') %>" />
		</div>
	</div>
</section>
<section class="pt-2 pt-mb-4 pt-lg-4 pb-4">
	<!-- Featured stickers -->
	<%- partial('partial/heading', {title: 'Stickers for cars, trucks and SUVs', subtitle: 'Stickers come in a variety of colors. New designs are often in progress! Check our Stories on <a rel="me" target="_blank" href="https://www.instagram.com/bimmersticker.store/">Instagram</a> and subscribe for updates.', name: 'featured'}) %>
</section>
<section class="pb-4">
	<!-- Bimmers only -->
	<%- partial('partial/heading', {title: 'For bimmers only', subtitle: 'Stickers designed exclusively for BMW cars. Have a cool idea for a custom sticker? <a href="#contact">Contact us</a> and we will get back to you the same day.', name: 'bmw-special'}) %>
</section>
<section class="pb-4">
	<!-- Social stickers -->
	<%- partial('partial/heading', {title: 'Custom social name stickers', subtitle: 'Variety of stickers that boost your social profile.', name: 'social'}) %>
</section>
<section class="pb-4">
	<!-- Windshield banners -->
	<%- partial('partial/heading', {title: 'Windshield banners', subtitle: 'A collection of windshield banners for project and show cars, stanced vehicles, jdm cars. Check out our <a href="/custom-windshield-banner-sun-strip/">windshield banner builder</a> for custom banners and sun strips.', name: 'banners'}) %>
</section>
<section class="pb-4">
	<!-- Windshield banners -->
	<%- partial('partial/heading', {title: 'Stickers for BMW series', subtitle: 'Cannot find a your BMW series in the list? Go request one in the <a href="#contact">Contact Form</a> below. We will be back ASAP.', name: 'series'}) %>
</section>