<footer>
  <img class="w-100 d-block" alt="footer section shape" src="<%- partial('../data-uri/wave-footer') %>" />
  <div class="section-gray pt-4 pb-3">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">

          <img class="logo-footer" src="/img/rent-bmw-for-cab-drivers-logo-flat.svg" alt="Логотип арендовать БМВ в Москве" />
          <p class="lead text-white mt-2 mb-0"><strong><%- site.data.footer.text %></strong></p>
          <p class="text-white-50"><%- site.data.footer.text_faded %></p>
          <p class="mt-4">
            <a href="<%- site.data.jumbotron.button.href || "" %>" class="my-2 btn btn-lg btn-primary rounded-pill mr-2">
              <%- site.data.jumbotron.button.text || "" %>
            </a>
            <br />
            <span class="text-white-50"><%- site.data.jumbotron.details || "" %></span>          
          </p>
        </div>
        <div class="col-12 text-center">
          <p class="text-white-50 mt-3 mb-2 font-size-12">
            <% var currentYear = new Date().getFullYear() %>
            <% var copyrightString = site.data.footer.copyright.replace('####', currentYear) %>
            <%- copyrightString %>
          </p>
          <button type="button" class="btn btn-sm btn-link btn-blueberry" data-toggle='modal' data-target='#<%- site.data.attribution.modal_id %>'>
            <%- site.data.attribution.button_caption %>
          </button>
        </div>
      </div>
    </div>
  </div>
</footer>
